@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*
 {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    background-color: #f4f6f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background-attachment: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0,.5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #fff;
    background: #000;
    box-shadow: 5px 5px 15px #000;
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}

